/* 公共样式 */
ul {
	padding: 0px;
}
.my-header {
	background: #006699;
}
.header a{
	color: #FFF;
}
.my-header h1 {
	color: #FFF;
}

.my-header .mui-icon-search {
	color: #FFF;
}

.my-footer {
	background: #006699;
}

.my-footer .mui-tab-item {
	color: #FFF;
}

.my-footer .mui-tab-item.mui-active {
	color: darkorange;
}
li {
	list-style:none;
}